{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 140,
    "plugins": ["prettier-plugin-svelte"],
    "svelteIndentScriptAndStyle": true,
    "trailingComma": "none"
}
